:global {
  body[data-theme="light"] {
    --autocompl-bg: var(--gray-50);
    --autocompl-color: var(--gray-300);
  }
  body[data-theme="dark"] {
    --autocompl-bg: var(--gray-400);
    --autocompl-color: var(--white);
  }
}

.autoComplite {
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--autocompl-bg);
  opacity: 0.95;
  box-shadow: var(--search-shadow);
  border-radius: 15px;
  list-style-type: none;
  overflow: hidden;
  z-index: 10;
}

.autoComplite__item:last-child {
  .autoComplite__btn {
    border: none;
  }
}

.autoComplite__btn {
  width: 100%;
  height: 35px;
  padding: 0;
  background-color: var(--autocompl-bg);
  border: none;
  border-radius: 10px;
  color: var(--autocompl-color);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: var(--main-color-hover);
  }
}
